In [3]:
name = "Mani"
name
print("This is from notebook")

This is from notebook

In [14]:
import pandas as pd
pd.DataFrame({'A': [1, 2, 3,5,7,8,9,12],
              'B': [1, 2, 3,5,7,8,9,12],
              'C': [1, 2, 3,5,7,8,9,12],
              'D': [1, 2, 3,5,7,8,9,12],
              'E': [1, 2, 3,5,7,8,9,12],
              'F': [1, 2, 3,5,7,8,9,12],
              'G': [1, 2, 3,5,7,8,9,12],
              })

    A   B   C   D   E   F   G
0   1   1   1   1   1   1   1
1   2   2   2   2   2   2   2
2   3   3   3   3   3   3   3
3   5   5   5   5   5   5   5
4   7   7   7   7   7   7   7
5   8   8   8   8   8   8   8
6   9   9   9   9   9   9   9
7  12  12  12  12  12  12  12